.container {
  margin-left: 0 auto;
  padding: 0 20px;
  max-width: 400px;
  
  @include for-size(tablet) {
    padding: 0 76px;
    width: 768px;
  }

  @include for-size(desktop) {
    padding: 0 72px;
    width: 1024px;
  }

  @include for-size(desktop-hd) {
    width: 1680px;
  }
}
