.container {
  margin-left: 0 auto;
  padding: 0 20px 0 20px;

  @include for-size(mobile-sm) {
    max-width: 400px;
  }

  @include for-size(mobile) {
    max-width: 767px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1024px;
  }

  @include for-size(desktop-hd) {
    width: 1680px;
  }
}
