.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 530px;
  //background-color: aqua;

  @media (min-width: 768px) {
    padding: 0 76px;
    max-width: 960px;
  }

  @media (min-width: 1024px) {
    padding: 0 72px;
    max-width: 1680px;
  }
}
