.footer {
  background-color: var(--footer-bg-color);
  text-align: center;
}

.footer .container {
  padding-top: 28px;
  padding-bottom: 56px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.copyright {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #545454;

  &__link {
    display: inline;
  }

  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.6;
  }

  @include for-size(desktop-hd) {
    font-size: 20px;
  }
}
