.header {
  height: 230px;

  .container {
    padding-top: 46px;

    @include for-size(tablet) {
      padding-top: 42px;
      padding-left: 72px;
      padding-right: 76px;
    }

    @include for-size(desktop) {
      padding-left: 72px;
      padding-right: 72px;
    }
  }

  &__block {
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @include for-size(desktop) {
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
    }
  }

  &__text {
    display: none;
    @include for-size(tablet) {
      color: var(--header-collor);
      font-size: 30px;
      font-weight: 500;
      display: inherit;
    }
  }

  &__text--error {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--error-color);
  }

  .current-page {
    position: relative;
    transition: color 0.2s linear;

    &::after {
      margin-top: 5px;
      display: block;
      border-bottom: 3px solid var(--decor-color);
      content: '';
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }
}

.nav__ul {
  display: flex;
  flex-wrap: wrap;

  &--item {
    cursor: pointer;
    color: var(--header-collor);
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &--item:not(:last-of-type) {
    margin-right: 40px;
  }
}

.main__background {
  background: rgba(0, 0, 0, 0.56);
  background-image: url('../images/header_background.jpg');
  @include background-settings(no-repeat, 20%);
}

.header__form {
  &--input {
    position: relative;
    padding: 5px;
    width: 100%;
    outline: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    color: var(--header-collor);
    border-bottom: 0.5px solid var(--header-collor);
  }

  &::placeholder {
    color: var(--header-collor);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  &-btn::after {
    position: absolute;
    top: 13%;
    left: 70%;
    color: var(--header-collor);
    content: 'icon_search';
    width: 12px;
    height: 12px;
    background-image: url('../images/search.svg');
  }
}
