.film__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.film__item {
  margin-bottom: 30px;

  &_title {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--main-color);
    margin: 0;
    margin-bottom: 5px;
  }

  &_description {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--decor-color);
    margin: 0;
  }
}

.navigation {
  display: flex;
  justify-content: center;
}

.page-numbers__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.pagination__btn {
  width: 40px;
  height: 40px;
  background-color: var(--main-bg-color);
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
}

.active {
  background-color: var(--decor-color);
  color: white;
}

.not-active-btn {
  background-color: transparent;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;

  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
