<div class="container">
  <div class="header__block">
    <div class="header__logo">
      <img src="../images/film.svg" alt="" />
        <span class="header__text" href="#">Filmoteka </span>
    </div>

    <nav class="navigation">
    <ul class="nav__ul main__text">
      <li class="nav__ul--item">Home</li>
      <li class="nav__ul--item current-page">my library</li>
    </ul>
    </nav>
  </div>

  <ul class="header__lib-wrapp">
    <li>
      <button class="button button-active btn-watchd">Watched</button>
    </li>

    <li>
      <button class="button  btn-queue">QUEUE</button>
    </li>
  </ul>
