{{#each this}}
<li class="film__item">
    <img class="film__item_picture" width="210" src="https://image.tmdb.org/t/p/w220_and_h330_face{{backdrop_path}}"
        alt="{{this.title}}" />
    <h3 class="film__item_title">{{this.title}}</h3>
    <p class="film__item_description">{{this.release_date}}</p>
</li>
{{/each}}