html {
  font-family: 'Roboto', sans-serif;
}
:root {
  --header-collor: #ffffff;
  --main-color: #000000;
  --decor-color: #ff6b08;
  --error-color: #ff001b;
  --main-bg-color: #e5e5e5;
  --footer-bg-color: #f7f7f7;
}

.main__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.title-color {
  color: var(--main-color);
}
.title__-color {
  color: var(--decor-color);
}
