html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}
:root {
  --header-collor: #ffffff;
  --main-color: #000000;
  --decor-color: #ff6b08;
  --error-color: #ff001b;
  --main-bg-color: #e5e5e5;
  --footer-bg-color: #f7f7f7;
}
